*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    color:black;
  }
  .jumbotron {
    background-image: url(./images/theme.jpg);
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
  }